body{
font-family: Arial, Helvetica, sans-serif;     }
/* Stili per la tabella */
td, th {
  border-style: solid;
  border: 2px solid black;
  border-color: blue;
  padding: 10px; /* Ridotto il padding per una visualizzazione più pulita */
}

th {
  border-width: 3px; /* Ridotto lo spessore del bordo */
  background-color: #3e8e41;
}

h1 {
  color: red;
  text-align: center;
}

.image {
  text-align: center;
}
button{
  float: right;
  font-size: 16px;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
/* Stili per la navbar e il dropdown */
.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a, .dropdown .dropbtn {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  background-color: inherit;
  font-family: inherit;
  border: none;
  outline: none;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

article {
  float: left;
  padding: 20px;
  width: 50%;
  background-color: #f1f1f1;
}

nav {
  float: right;
  width: 30%;
  background: #ccc;
  padding: 40px;
}

nav p {
  margin: 0; /* Rimosso padding per evitare spazi extra */
}

footer {
  margin-top:300px;
  background-color: #fc2803;
  padding: 10px;
  text-align: center;
  color: white;
  clear: both; /* Assicura che il footer non si sovrapponga agli altri elementi */
}
.styleElenco{
  color: green;
  font-family: Arial, Helvetica, sans-serif;
}
